
 <div id="showPlan" class=" h-fit w-3/4 mx-auto mt-10 text-center">
    <div class="grid grid-col-3">
        <div id="banner" class="col-start-1 mx-auto">
                <img src="<%= plan.banner_image %>" alt="banner" class="">
        </div>
        <div class="col-start-2 col-end-3">
            <div class=" h-1/4 w-full uppercase text-[32px]">title: <%= plan.name %> <%= plan.type.name %></div>
            <div class=" h-1/2 w-full uppercase text-[22px]">description: <%= plan.description %></div>
        </div>
        <div class="mt-5 p-10 h-fit content-wrap uppercase text-[24px] col-start-1 col-end-3 "><%= plan.content %></div>
    </div>
    <a href="/plans/edit/<%= plan.id %>">Edit Plan</a>
    <form action="/plans/<%= plan.id %>/?_method=DELETE" method="post">
        <button type="submit">Delete pLan</button>
    </form>
</div>