<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your new pLan</title>
    <link href="/../assets/css/output.css" rel="stylesheet">
</head>
<body>
    <div id="base" class="min-h-screen max-w-screen bg-gray-700 relative">
        <div id="content-wrap" class="pb-[40px]">
            <nav class="bg-gray-800 flex flex-row justify-center ">
                <div id="logo">
                    <a href="/" class=" text-[72px] col-start-1 w-fit text-white font-bold ">p<span class="text-yellow-200">L</span>an</a>
                </div>
                <div id="links" class="h-fit mx-5 font-bold text-white text-[32px] uppercase mt-[40px]">
                    <% if(user) { %>
                        <a href="/users/logout" class="mr-[120px]">Log Out</a>
                        <a href="/users/profile" class="mr-5">home</a>
                    <% } else if (!user) { %>
                        <a href="/users/login" class="mr-5">log In</a>
                    <% } %>
                    <a href="/users/profile/edit"><%= user.first_name %> <%= user.last_name %></a>
                </div>
                    <div id="userInfo" class="h-fit w-fit">
                        <div>
                            <img class=" ring rounded-full h-[50px] mt-[40px]" src="<%=user.profile_picture%>" alt="<%=user.first_name%> <%=user.last_name%>">
                        </div>
                    </div>
            </nav>
            <%- body %>  
            <footer class="bg-gray-800 h-[40px] text-center text-[25px]  absolute bottom-0 w-full">
                <h1 class="bg-gray-800 text-white align-middle ">Sebastian Manion ©</h1>
            </footer>
        </div>
        
    </div>
</body>
</html>
