<% if(plans){ %>
    <% let latestPlan = plans.length - 1 %>
    <div id="pageStructure" class=" py-[40px] max-w-screen h-fit flex justify-around ">
        <div id="planSection" class="uppercase text-[20px] bg-lime-800 rounded-2xl text-white font-bold text-center h-fit mt-10 p-10">
            <div class="bg-lime-600 rounded-2xl p-3" >
                <a  href="/plans">Create Plan</a>
            </div>
            <% let lastPlan = '' %>
            <% if (plans.length > 10) { %>
                <% lastPlan = latestPlan - 10 %>
            <% } else { %>
                <% lastPlan = 0 %>
            <% } %>
            <% for (let i = latestPlan - 1; i >= lastPlan; i--) { %>
            <div class="max-w-[275px] mx-auto my-3"> 
                <a   href="/plans/show/<%=plans[i].id%>"><%= plans[i].name %></a>
            </div> 
            <% } %>
        </div>
        
        <div id="showPlan" class=" h-fit w-4/6 mt-10 text-center">
            <% if(plans && latestPlan >= 0){ %>
            <div class="grid grid-col-3">
                <div id="banner" class="col-start-1 mx-auto hover:backdrop-blur-sm">
                    <% if(plans && latestPlan >= 0){ %>
                        <img src="<%= plans[latestPlan].banner_image %>" alt="banner" class="rounded-2xl ">
                    <% } %>
                </div>
                <div class="col-start-2 col-end-3 font-bold text-white mt-auto">
                    <div class=" h-1/4 w-full uppercase text-[32px] mt-10  p-4 bg-lime-800 rounded-t-2xl"><%= plans[latestPlan].name %> <span class="ml-10 bg-white text-lime-800 p-1 rounded-2xl"><%= plans[latestPlan].type.name %></span></div>
                    <div class=" h-fit w-full uppercase text-[32px] p-4 bg-lime-600 rounded-b-2xl"><%= plans[latestPlan].description %></div>
                </div>
                <div class="text-white font-bold mt-5 p-10 h-fit content-wrap uppercase text-justify text-[24px] col-start-1 col-end-3 rounded-2xl bg-gray-500 break-all"><%= plans[latestPlan].content%></div>
            </div>
            <div id="uD" class="my-4 text-white font-bold text-[32px] uppercase ">
                <a href="/plans/edit/<%= plans[latestPlan].id %>" class="inline mr-4 ">Edit P<span class="text-lime-500">L</span>an</a>
                <form action="/plans/<%= plans[latestPlan].id %>/?_method=DELETE" class="inline " method="post">
                    <button class="uppercase " type="submit">Delete p<span class="text-lime-500">L</span>an</button>
                </form>
            </div>
        </div>
        
        <% } %>
<% } %>