<% if(plans){ %>
<% let latestPlan = plans.length - 1 %>
<div id="pageStructure" class="px-[120px] py-[40px] w-screen h-fit grid grid-col-5 gap-16">
    <div id="planSection" class=" min-h-[400px] col-start-1 col-end-1 uppercase text-[32px] bg-gray-800 opacity rounded-2xl text-white font-bold text-center ">
        <div class=" my-[20px] px-8 max-w-[350px] mx-auto" >
            <a  href="/plans">Create Plan</a>
        </div>
        <% let lastPlan = '' %>
        <% if (plans.length > 10) { %>
            <% lastPlan = latestPlan - 10 %>
        <% } else { %>
            <% lastPlan = 0 %>
        <% } %>
        <% for (let i = latestPlan - 1; i >= lastPlan; i--) { %>
           <div class="max-w-[275px] mx-auto"> 
            <a   href="/plans/show/<%=plans[i].id%>"><%= plans[i].name %> Plan</a>
           </div> 
        <% } %>
    </div>
    <div id="showPlan" class=" h-fit w-full col-start-2 col-end-5">
        <% if(plans && latestPlan >= 0){ %>
        <div class="grid grid-col-3">
            <div id="banner" class="col-start-1 mx-auto">
                <% if(plans && latestPlan >= 0){ %>
                    <img src="<%= plans[latestPlan].banner_image %>" alt="banner" class="rounded-2xl">
                    <% } %>
            </div>
            <div class="col-start-2 col-end-3">
                <div class=" h-1/4 bg-pink-300 w-full uppercase text-[32px] flex flex-col justify-center">title: <%= plans[latestPlan].name %></div>
                <div class=" h-1/4 bg-pink-300 w-full uppercase text-[32px] flex flex-col justify-center"><%= plans[latestPlan].type.name %></div>
                <div class=" h-1/2 bg-pink-400 w-full uppercase text-[22px] flex flex-col justify-center">description: <%= plans[latestPlan].description %></div>
            </div>
            <div class=" p-10 h-fit bg-pink-500 content-wrap uppercase text-[24px] col-start-1 col-end-3 ">content: <%= plans[latestPlan].content %></div>
        </div>
        <% } %>
    </div>
</div>
<% } %>